
@font-face {
  font-family: 'SF Pro';
  src: url('/fonts/SF-Pro.ttf') format('truetype');
  font-weight: 800;
  font-style: "Expanded Bold";
}


@font-face {
  font-family: 'Pixel1';
  src: url('/fonts/SF-Pro-Display-Bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}